# Loading gamelogs

In [1]:
from load import run
run('Jayson Tatum BOS vs. LAC 24.5 REBS')
# enter full name, player team, court, opposing team, fantasy value and type

Gamelogs successfully loaded for Jayson Tatum

# Accessing gamelogs

In [2]:
from manager import CSV
player = CSV.gamelog['player']
team = CSV.gamelog['team']
opponent = CSV.gamelog['opp']

player.head() # show player gamelogs

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,1628369,22201206,"APR 07, 2023",BOS vs. TOR,W,20,7,12,0.583,...,2,3,4,0,0,3,2,21,23,1
1,22022,1628369,22201181,"APR 04, 2023",BOS @ PHI,L,38,7,20,0.350,...,5,6,6,3,0,2,2,19,-13,1
2,22022,1628369,22201152,"MAR 31, 2023",BOS vs. UTA,W,36,12,17,0.706,...,10,11,3,3,0,0,4,39,7,1
3,22022,1628369,22201146,"MAR 30, 2023",BOS @ MIL,W,31,12,18,0.667,...,7,8,1,0,0,0,1,40,36,1
4,22022,1628369,22201130,"MAR 28, 2023",BOS @ WAS,L,32,11,19,0.579,...,9,9,5,0,1,3,4,28,-10,1

# Filtering gamelogs
Gamelogs can be filtered by:
- Home/away
- Opposing team
- Last n games
- Minimum/maximum minutes played
- Games without a teammate playing

In [3]:
import filters
from manager import Filtered
# filtering for games played at home
filters.court('HOME')
last = Filtered.player['court']

last.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,1628369,22201206,"APR 07, 2023",BOS vs. TOR,W,20,7,12,0.583,...,2,3,4,0,0,3,2,21,23,1
2,22022,1628369,22201152,"MAR 31, 2023",BOS vs. UTA,W,36,12,17,0.706,...,10,11,3,3,0,0,4,39,7,1
5,22022,1628369,22201097,"MAR 24, 2023",BOS vs. IND,W,32,13,24,0.542,...,7,7,2,2,0,6,3,34,23,1
12,22022,1628369,22200986,"MAR 08, 2023",BOS vs. POR,W,31,11,17,0.647,...,6,7,2,1,0,3,0,30,21,1
13,22022,1628369,22200969,"MAR 05, 2023",BOS vs. NYK,L,49,12,30,0.400,...,9,11,6,0,0,2,2,40,4,1

# Retrieving statistics
Available statistics:
1. PTS, REB, AST, BLK, TOV, PF
2. REB, OREB, DREB, OREB_RATIO, DREB_RATIO
3. FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FG3_RATIO, FTM, FTA, FT_PCT
4. AST%, AST/TO, eFG%, TSA, TOV%, TS%, USG%
5. OREB%, DREB%, BLK%, STL%

In [4]:
import stats
# showing PTS, REB, AST, BLK, TOV, and PF for games played at home
stats.change('COURT')
stats.basic()

PTS  30.067568
REB   8.770270
AST   4.621622
BLK   0.689189
TOV   2.878378
PF    2.162162