# Loading gamelogs

In [1]:
from load import run
run('LeBron James LAL @ DEN 23.5 PTS')
# enter full name, player team, court, opposing team, fantasy value and type

Gamelogs successfully loaded for LeBron James

# Accessing gamelogs

In [2]:
from manager import CSV
player = CSV.gamelog['player']
team = CSV.gamelog['team']
opponent = CSV.gamelog['opp']

player.head() # show player gamelogs

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,2544,22300163,"NOV 08, 2023",LAL @ HOU,L,27,7,13,0.538,...,5,6,2,0,0,3,1,18,-24,1
1,22023,2544,22300150,"NOV 06, 2023",LAL @ MIA,L,37,13,23,0.565,...,4,4,3,1,3,5,4,30,6,1
2,22023,2544,22300134,"NOV 04, 2023",LAL @ ORL,L,35,8,15,0.533,...,8,9,5,3,0,3,1,24,12,1
3,22023,2544,22300127,"NOV 01, 2023",LAL vs. LAC,W,42,13,19,0.684,...,12,12,7,1,2,4,3,35,6,1
4,22023,2544,22300111,"OCT 30, 2023",LAL vs. ORL,W,33,7,17,0.412,...,3,3,4,3,1,5,0,19,5,1

# Filtering gamelogs
Gamelogs can be filtered by:
- Home/away
- Opposing team
- Last n games
- Minimum/maximum minutes played
- Games without a teammate playing

In [27]:
import filters
from manager import Filtered
# filtering for games played at home
filters.court('AWAY')
games = Filtered.player['court']

games.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,2544,22300163,"NOV 08, 2023",LAL @ HOU,L,27,7,13,0.538,...,5,6,2,0,0,3,1,18,-24,1
1,22023,2544,22300150,"NOV 06, 2023",LAL @ MIA,L,37,13,23,0.565,...,4,4,3,1,3,5,4,30,6,1
2,22023,2544,22300134,"NOV 04, 2023",LAL @ ORL,L,35,8,15,0.533,...,8,9,5,3,0,3,1,24,12,1
5,22023,2544,22300100,"OCT 29, 2023",LAL @ SAC,L,39,11,19,0.579,...,15,15,8,0,0,8,2,27,-5,1
7,22023,2544,22300061,"OCT 24, 2023",LAL @ DEN,L,29,10,16,0.625,...,7,8,5,1,0,0,1,21,7,1

# Retrieving statistics
Available statistics:
1. PTS, REB, AST, BLK, TOV, PF
2. REB, OREB, DREB, OREB_RATIO, DREB_RATIO
3. FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FG3_RATIO, FTM, FTA, FT_PCT
4. AST%, AST/TO, eFG%, TSA, TOV%, TS%, USG%
5. OREB%, DREB%, BLK%, STL%

In [28]:
def change(type): 
    if type == 'COURT':
        return Filtered.player['court']
    elif type == 'OPP':
        return Filtered.player['against']
    elif type == 'LAST':
        return Filtered.player['last']
    elif type == 'MIN':
        return Filtered.player['minutes']
    elif type == 'WITHOUT':
       return Filtered.player['without']
    else:
       return CSV.gamelog['player']

In [29]:
gamelog = change('COURT')

In [31]:
min = gamelog['MIN'].mean()
pts = gamelog['PTS'].mean()
reb = gamelog['REB'].mean()
oreb = gamelog['OREB'].mean()
dreb = gamelog['DREB'].mean()
oreb_ratio = oreb / reb
dreb_ratio = dreb / reb
ast = gamelog['AST'].mean()
stl = gamelog['STL'].mean()
blk = gamelog['BLK'].mean()
tov = gamelog['TOV'].mean()
pf = gamelog['PF'].mean()
fgm = gamelog['FGM'].mean()
fga = gamelog['FGA'].mean()
fg3m = gamelog['FG3M'].mean()
fg3a = gamelog['FG3A'].mean()
fg_pct = gamelog['FG_PCT'].mean()
fg3_pct = gamelog['FG3_PCT'].mean()
fg3_ratio = fg3m / fgm
ftm = gamelog['FTM'].mean()
fta = gamelog['FTA'].mean()
ft_pct = gamelog['FT_PCT'].mean()

In [32]:
import pandas as pd

def basic():
    frame = {" ": [pts, reb, ast, blk, tov, pf]}
    index = ['PTS', 'REB', 'AST', 'BLK', 'TOV', 'PF']
    table = pd.DataFrame(frame, index=index)
    print(table)


def reb_type():
    frame = {" ": [reb, oreb, dreb, oreb_ratio, dreb_ratio]}
    index = ['REB', 'OREB', 'DREB', 'OREB_RATIO', 'DREB_RATIO']
    table = pd.DataFrame(frame, index=index)
    print(table)


def fg_type():
    frame = {" ": [fgm, fga, fg_pct,
                   fg3m, fg3a, fg3_pct, fg3_ratio,
                   ftm, fta, ft_pct]}
    index = ['FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FG3_RATIO', 'FTM', 'FTA', 'FT_PCT']
    table = pd.DataFrame(frame, index=index)
    print(table)

In [36]:
class Gamelogs:
    prop = CSV.prop

team_gamelog = CSV.gamelog['team']
opp_gamelog = CSV.gamelog['opp']

# Team stats
tm_min = team_gamelog['MIN'].mean()
tm_pts = team_gamelog['PTS'].mean()
tm_reb = team_gamelog['REB'].mean()
tm_oreb = team_gamelog['OREB'].mean()
tm_dreb = team_gamelog['DREB'].mean()
tm_oreb_ratio = tm_oreb / tm_reb
tm_dreb_ratio = tm_dreb / tm_reb
tm_ast = team_gamelog['AST'].mean()
tm_stl = team_gamelog['STL'].mean()
tm_blk = team_gamelog['BLK'].mean()
tm_tov = team_gamelog['TOV'].mean()
tm_pf = team_gamelog['PF'].mean()
tm_fgm = team_gamelog['FGM'].mean()
tm_fga = team_gamelog['FGA'].mean()
tm_fg3m = team_gamelog['FG3M'].mean()
tm_fg3a = team_gamelog['FG3A'].mean()
tm_fg_pct = team_gamelog['FG_PCT'].mean()
tm_fg3_pct = team_gamelog['FG3_PCT'].mean()
tm_fg3_ratio = tm_fg3m / tm_fgm
tm_ftm = team_gamelog['FTM'].mean()
tm_fta = team_gamelog['FTA'].mean()
tm_ft_pct = team_gamelog['FT_PCT'].mean()
# Opponent stats
opp_min = opp_gamelog['MIN'].mean()
opp_pts = opp_gamelog['PTS'].mean()
opp_reb = opp_gamelog['REB'].mean()
opp_oreb = opp_gamelog['OREB'].mean()
opp_dreb = opp_gamelog['DREB'].mean()
opp_oreb_ratio = opp_oreb / opp_reb
opp_dreb_ratio = opp_dreb / opp_reb
opp_ast = opp_gamelog['AST'].mean()
opp_stl = opp_gamelog['STL'].mean()
opp_blk = opp_gamelog['BLK'].mean()
opp_tov = opp_gamelog['TOV'].mean()
opp_pf = opp_gamelog['PF'].mean()
opp_fgm = opp_gamelog['FGM'].mean()
opp_fga = opp_gamelog['FGA'].mean()
opp_fg3m = opp_gamelog['FG3M'].mean()
opp_fg3a = opp_gamelog['FG3A'].mean()
opp_fg_pct = opp_gamelog['FG_PCT'].mean()
opp_fg3_pct = opp_gamelog['FG3_PCT'].mean()
opp_fg3_ratio = opp_fg3m / opp_fgm
opp_ftm = opp_gamelog['FTM'].mean()
opp_fta = opp_gamelog['FTA'].mean()
opp_ft_pct = opp_gamelog['FT_PCT'].mean()

In [37]:
Gamelogs()

def tm_advanced():
    ast_pct = (100 * ast) / (((min / (tm_min / 5)) * tm_fgm) - fgm)
    ast_to_ratio = ast / tov
    efg_pct = ((fgm + 0.5 * fg3m) / fga)
    tsa = (fga + (0.44 * fta))
    tm_tsa = (tm_fga + (0.44 * tm_fta))
    tov_pct = (100 * tov) / (tsa + tov)
    ts_pct = (pts / (2 * tsa))
    usg_pct = (100 * (tsa + tov) * (tm_min / 5)) / (min * (tm_tsa + tm_tov))
    frame = {
        Gamelogs.prop['player'] + ": " + Gamelogs.prop['team']: [ast_pct, ast_to_ratio, efg_pct, tsa, tov_pct, ts_pct,
                                                                 usg_pct]}
    index = ['AST%', 'AST/TO', 'eFG%', 'TSA', 'TOV%', 'TS%', 'USG%']
    table = pd.DataFrame(frame, index=index)
    print(table)


def opp_advanced():
    tm_poss = 0.5 * ((tm_fga + 0.4 * tm_fta - 1.07 * (tm_oreb / (tm_oreb + opp_dreb)) * (
            tm_fga - tm_fgm) + tm_tov) + (opp_fga + 0.4 * (opp_fta) - 1.07 * (
            opp_oreb / (opp_oreb + tm_dreb) * (opp_fga - opp_fgm) + opp_tov)))
    opp_poss = 0.5 * ((opp_fga + 0.4 * opp_fta - 1.07 * (
            opp_oreb / (opp_oreb + tm_dreb)) * (
                               opp_fga - opp_fgm) + opp_tov) + (
                              tm_fga + 0.4 * (tm_fta) - 1.07 * (
                              tm_oreb / (tm_oreb + opp_dreb) * (
                              tm_fga - tm_fgm) + tm_tov)))
    oreb_pct = (100 * (oreb * (tm_min / 5))) / (min * (tm_oreb + opp_dreb))
    dreb_pct = (100 * (dreb * (tm_min / 5))) / (min * (tm_dreb + opp_oreb))
    blk_pct = (100 * ((blk) * (tm_min / 5))) / (tm_min * (opp_fga - opp_fg3a))
    stl_pct = (100 * (stl * (tm_min / 5))) / (min * opp_poss)
    frame = {
        Gamelogs.prop['player'] + ": " + Gamelogs.prop['team'] + " " + Gamelogs.prop['court'] + " " + Gamelogs.prop[
            'opp']: [oreb_pct, dreb_pct, blk_pct, stl_pct]}
    index = ['OREB%', 'DREB%', 'BLK%', 'STL%']
    table = pd.DataFrame(frame, index=index)
    print(table)