# Installation

# Loading scraper

**Fork repo to user's GitHub and clone to:**

*Mac:*
~/Desktop/sinix-model
*Windows*
C:\Desktop\sinix-model

**Locate and run load.py**

In [1]:
def load(player): # can be renamed to user choice
    with open(player + '.csv', 'w+', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(
            ['DATE', 'OPP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FGP', 'TPM', 'TPA', 'TPP', 'REB', 'AST', 'STL', 'BLK',
             'TOV'])

'player'.csv should be created in working directory.

**Run main.py**

Visit basketball-reference.com and obtain the data-ID of the date associated with the desired statline. Function prop() requires arguments URL, data-ID, and player name. 
!["Example of where to find Data ID"](https://i.imgur.com/h069j58.png)
In the event the csv filename is different from player name, adjust function accordingly.

In [ ]:
props('https://www.basketball-reference.com/players/j/jokicni01/gamelog/2023', 'pgl_basic.568', 'jokic')

As of writing (02/16/23), props() will append the csv with the statline from the date provided. Users can load as many games as desired with corresponding data-IDs. Reference curry.csv in GitHub for an example of a 5 game output.

In [3]:
import pandas as pd

df = pd.read_csv("curry.csv", sep=",")
df

,DATE,OPP,WL,MIN,PTS,FGM,FGA,FGP,TPM,TPA,TPP,REB,AST,STL,BLK,TOV
0,2023-02-04,DAL,W (+6),25:33,21,7,11,0.636,2,6,0.333,6,7,0,0,0
1,2023-02-02,DEN,L (-17),33:11,28,10,17,0.588,5,10,0.500,5,5,0,0,6
2,2023-02-01,MIN,L (-5),42:22,29,8,21,0.381,5,12,0.417,10,3,1,1,4
3,2023-01-30,OKC,W (+8),36:36,38,12,20,0.600,8,14,0.571,8,12,0,1,4
4,2023-01-27,TOR,W (+12),38:47,35,13,21,0.619,4,8,0.500,7,11,2,0,3

# Loading model

Update the analysis function in analysis.R with the desired file and player name and run to retrieve averages for points, rebounds, assists, field goal percentage and three-point field goal percentage.

In [ ]:
anaylsis <- function(player_csv, name) {
    setwd("~/Desktop/sinix-model")
    player <- read.csv(player_csv)
    pts <- mean(player$PTS)
    rebs <- mean(player$REB)
    ast <- mean(player$AST)
    fgp <- mean(player$FGP)
    tpp <- mean(player$TPP)
    player_analysis <- data.frame(NAME = name,
                         PTS = c(pts),
                         REB = c(rebs),
                         AST = c(ast),
                         FGP = c(fgp),
                         TPP = c(tpp))
    

  print(player_analysis)
}   
anaylsis("curry.csv", "Stephen Curry")

New CSV file should be loaded into working directory with averages based on inputted CSV data.

In [2]:
import pandas as pd

df = pd.read_csv("curry_analysis.csv", sep=",")
df

            NAME   PTS  REB  AST     FGP     TPP
0  Stephen Curry  30.2  7.2  7.6  0.5648  0.4642